<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>

# Hyperparameter Tuning

## *Data Science Unit 4 Sprint 2 Assignment 4*

## Your Mission, should you choose to accept it...

To hyperparameter tune and extract every ounce of accuracy out of this telecom customer churn dataset: [Available Here](https://lambdaschool-data-science.s3.amazonaws.com/telco-churn/WA_Fn-UseC_-Telco-Customer-Churn+(1).csv)

## Requirements

- Load the data
- Clean the data if necessary (it will be)
- Create and fit a baseline Keras MLP model to the data.
- Hyperparameter tune (at least) the following parameters:
 - batch_size
 - training epochs
 - optimizer
 - learning rate (if applicable to optimizer)
 - momentum (if applicable to optimizer)
 - activation functions
 - network weight initialization
 - dropout regularization
 - number of neurons in the hidden layer
 
 You must use Grid Search and Cross Validation for your initial pass of the above hyperparameters
 
 Try and get the maximum accuracy possible out of this data! You'll save big telecoms millions! Doesn't that sound great?

In [1]:
##### Your Code Here #####
%tensorflow_version 2.x

TensorFlow 2.x selected.

In [0]:
import pandas as pd 
from tensorflow.keras.models import Sequential 
from tensorflow.keras.layers import Dense

In [0]:
df = pd.read_csv('https://lambdaschool-data-science.s3.amazonaws.com/telco-churn/WA_Fn-UseC_-Telco-Customer-Churn+(1).csv')

In [4]:
df.head()

   customerID  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
0  7590-VHVEG  Female              0  ...          29.85        29.85     No
1  5575-GNVDE    Male              0  ...          56.95       1889.5     No
2  3668-QPYBK    Male              0  ...          53.85       108.15    Yes
3  7795-CFOCW    Male              0  ...          42.30      1840.75     No
4  9237-HQITU  Female              0  ...          70.70       151.65    Yes

[5 rows x 21 columns]

In [5]:
# want to check for null values
df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [6]:
# check numeric column stats
df.describe()

       SeniorCitizen       tenure  MonthlyCharges
count    7043.000000  7043.000000     7043.000000
mean        0.162147    32.371149       64.761692
std         0.368612    24.559481       30.090047
min         0.000000     0.000000       18.250000
25%         0.000000     9.000000       35.500000
50%         0.000000    29.000000       70.350000
75%         0.000000    55.000000       89.850000
max         1.000000    72.000000      118.750000

In [7]:
df.describe(exclude='number')

        customerID gender Partner  ...     PaymentMethod TotalCharges Churn
count         7043   7043    7043  ...              7043         7043  7043
unique        7043      2       2  ...                 4         6531     2
top     8085-MSNLK   Male      No  ...  Electronic check         20.2    No
freq             1   3555    3641  ...              2365           11  5174

[4 rows x 18 columns]

In [0]:
# can drop customerID
df = df.drop(columns=['customerID'])

In [0]:
# need to make TotalCharges a float
def fix_charges(cell):
  value = cell.strip()
  if value == '':
    return 0 
  else:
    return float(value)


df['TotalCharges'] = df['TotalCharges'].apply(fix_charges)

In [0]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split

In [12]:
# a lot of columns need to be converted to be converted to numeric values
target = 'Churn'
features = df.columns.drop(['Churn'])

train, test = train_test_split(df)
X = train[features]
X_test = test[features]
y = train[target]
y_test = test[target]

X.shape, X_test.shape, y.shape, y_test.shape

((5282, 19), (1761, 19), (5282,), (1761,))

In [28]:
df.describe(exclude='number')

       gender Partner Dependents  ... PaperlessBilling     PaymentMethod Churn
count    7043    7043       7043  ...             7043              7043  7043
unique      2       2          2  ...                2                 4     2
top      Male      No         No  ...              Yes  Electronic check    No
freq     3555    3641       4933  ...             4171              2365  5174

[4 rows x 16 columns]

In [55]:
def prepare_data(df, target, features):
  # split into train and test
  train, test = train_test_split(df)
  X = train[features]
  X_test = test[features]
  y = train[target]
  y_test = test[target]
  print(X.shape, X_test.shape, y.shape, y_test.shape)

  # one hot encode categorical columns in X
  cols = X.columns
  num_cols = X._get_numeric_data().columns
  cat_cols = list(set(cols) - set(num_cols))
  X_categorical = X[cat_cols]
  X_numerical = X[num_cols]
  X_test_categorical = X_test[cat_cols]
  X_test_numerical = X_test[num_cols]
  encoder = OneHotEncoder(handle_unknown='ignore', sparse=False)
  X_categorical = encoder.fit_transform(X_categorical)
  X_test_categorical = encoder.transform(X_test_categorical)
  X_categorical = pd.DataFrame(X_categorical, columns=encoder.get_feature_names())
  X = X_numerical.join(X_categorical)
  X_test_categorical = pd.DataFrame(X_test_categorical, columns=encoder.get_feature_names())
  X_test = X_test_numerical.join(X_test_categorical)

  # turn Yes/No into 0/1
  y = y.replace({'No': 0, 'Yes': 1})
  y_test = y_test.replace({'No': 0, 'Yes': 1})

  # sanity check
  print(X.shape, X_test.shape, y.shape, y_test.shape)

  return X, y, X_test, y_test


target = 'Churn'
features = df.columns.drop(['Churn'])
X, y, X_test, y_test = prepare_data(df, target, features)

(5282, 19) (1761, 19) (5282,) (1761,)
(5282, 45) (1761, 45) (5282,) (1761,)

In [64]:
# build model
model = Sequential([
                    Dense(128, activation='relu', input_dim=45),
                    Dense(128, activation='relu'),
                    Dense(128, activation='relu'),
                    Dense(1, activation='sigmoid')
])

model.compile(
    loss='binary_crossentropy', 
    optimizer='adam', 
    metrics=['accuracy'])
model.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_6 (Dense)              (None, 128)               5888
_________________________________________________________________
dense_7 (Dense)              (None, 128)               16512
_________________________________________________________________
dense_8 (Dense)              (None, 128)               16512
_________________________________________________________________
dense_9 (Dense)              (None, 1)                 129
=================================================================
Total params: 39,041
Trainable params: 39,041
Non-trainable params: 0
_________________________________________________________________

In [69]:
1 - y.mean()

0.7389246497538811

In [70]:
from tensorflow.keras.callbacks import EarlyStopping

# stop = EarlyStopping(monitor='accuracy', min_delta=.001)
model.fit(X, y, 
          validation_data=(X_test, y_test), 
          epochs=100, 
          batch_size=None)

Train on 5282 samples, validate on 1761 samples
Epoch 1/100
5282/5282 [==============================] - 0s 75us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 2/100
5282/5282 [==============================] - 0s 74us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 3/100
5282/5282 [==============================] - 0s 73us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 4/100
5282/5282 [==============================] - 0s 74us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 5/100
5282/5282 [==============================] - 0s 76us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 6/100
5282/5282 [==============================] - 0s 74us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 7/100
5282/5282 [==============================] - 0s 75us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 8/100
5282/5282 [==============================] - 0s 75us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 9/100
5282/5282 [==============================] - 0s 80us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 10/100
5282/5282 [==============================] - 0s 76us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 11/100
5282/5282 [==============================] - 0s 75us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 12/100
5282/5282 [==============================] - 0s 76us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 13/100
5282/5282 [==============================] - 0s 76us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 14/100
5282/5282 [==============================] - 0s 78us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 15/100
5282/5282 [==============================] - 0s 75us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 16/100
5282/5282 [==============================] - 0s 71us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 17/100
5282/5282 [==============================] - 0s 75us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 18/100
5282/5282 [==============================] - 0s 74us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 19/100
5282/5282 [==============================] - 0s 72us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 20/100
5282/5282 [==============================] - 0s 72us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 21/100
5282/5282 [==============================] - 0s 73us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 22/100
5282/5282 [==============================] - 0s 75us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 23/100
5282/5282 [==============================] - 0s 74us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 24/100
5282/5282 [==============================] - 0s 72us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 25/100
5282/5282 [==============================] - 0s 76us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 26/100
5282/5282 [==============================] - 0s 72us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 27/100
5282/5282 [==============================] - 0s 74us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 28/100
5282/5282 [==============================] - 0s 71us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 29/100
5282/5282 [==============================] - 0s 74us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 30/100
5282/5282 [==============================] - 0s 78us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 31/100
5282/5282 [==============================] - 0s 76us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 32/100
5282/5282 [==============================] - 0s 75us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 33/100
5282/5282 [==============================] - 0s 73us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 34/100
5282/5282 [==============================] - 0s 73us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 35/100
5282/5282 [==============================] - 0s 75us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 36/100
5282/5282 [==============================] - 0s 72us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 37/100
5282/5282 [==============================] - 0s 76us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 38/100
5282/5282 [==============================] - 0s 80us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 39/100
5282/5282 [==============================] - 0s 77us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 40/100
5282/5282 [==============================] - 0s 75us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 41/100
5282/5282 [==============================] - 0s 79us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 42/100
5282/5282 [==============================] - 0s 75us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 43/100
5282/5282 [==============================] - 0s 71us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 44/100
5282/5282 [==============================] - 0s 76us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 45/100
5282/5282 [==============================] - 0s 72us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 46/100
5282/5282 [==============================] - 0s 71us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 47/100
5282/5282 [==============================] - 0s 74us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 48/100
5282/5282 [==============================] - 0s 72us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 49/100
5282/5282 [==============================] - 0s 79us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 50/100
5282/5282 [==============================] - 0s 76us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 51/100
5282/5282 [==============================] - 0s 72us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 52/100
5282/5282 [==============================] - 0s 71us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 53/100
5282/5282 [==============================] - 0s 75us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 54/100
5282/5282 [==============================] - 0s 77us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 55/100
5282/5282 [==============================] - 0s 73us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 56/100
5282/5282 [==============================] - 0s 71us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 57/100
5282/5282 [==============================] - 0s 71us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 58/100
5282/5282 [==============================] - 0s 74us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 59/100
5282/5282 [==============================] - 0s 70us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 60/100
5282/5282 [==============================] - 0s 73us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 61/100
5282/5282 [==============================] - 0s 75us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 62/100
5282/5282 [==============================] - 0s 75us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 63/100
5282/5282 [==============================] - 0s 75us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 64/100
5282/5282 [==============================] - 0s 74us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 65/100
5282/5282 [==============================] - 0s 75us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 66/100
5282/5282 [==============================] - 0s 73us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 67/100
5282/5282 [==============================] - 0s 74us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 68/100
5282/5282 [==============================] - 0s 78us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 69/100
5282/5282 [==============================] - 0s 71us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 70/100
5282/5282 [==============================] - 0s 81us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 71/100
5282/5282 [==============================] - 0s 74us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 72/100
5282/5282 [==============================] - 0s 70us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 73/100
5282/5282 [==============================] - 0s 72us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 74/100
5282/5282 [==============================] - 0s 72us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 75/100
5282/5282 [==============================] - 0s 72us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 76/100
5282/5282 [==============================] - 0s 79us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 77/100
5282/5282 [==============================] - 0s 79us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 78/100
5282/5282 [==============================] - 0s 72us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 79/100
5282/5282 [==============================] - 0s 75us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 80/100
5282/5282 [==============================] - 0s 73us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 81/100
5282/5282 [==============================] - 0s 73us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 82/100
5282/5282 [==============================] - 0s 75us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 83/100
5282/5282 [==============================] - 0s 74us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 84/100
5282/5282 [==============================] - 0s 72us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 85/100
5282/5282 [==============================] - 0s 74us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 86/100
5282/5282 [==============================] - 0s 74us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 87/100
5282/5282 [==============================] - 0s 74us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 88/100
5282/5282 [==============================] - 0s 76us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 89/100
5282/5282 [==============================] - 0s 75us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 90/100
5282/5282 [==============================] - 0s 75us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 91/100
5282/5282 [==============================] - 0s 74us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 92/100
5282/5282 [==============================] - 0s 75us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 93/100
5282/5282 [==============================] - 0s 78us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 94/100
5282/5282 [==============================] - 0s 71us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 95/100
5282/5282 [==============================] - 0s 73us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 96/100
5282/5282 [==============================] - 0s 76us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 97/100
5282/5282 [==============================] - 0s 73us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 98/100
5282/5282 [==============================] - 0s 73us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 99/100
5282/5282 [==============================] - 0s 76us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217
Epoch 100/100
5282/5282 [==============================] - 0s 73us/sample - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7217

## Stretch Goals:

- Try to implement Random Search Hyperparameter Tuning on this dataset
- Try to implement Bayesian Optimiation tuning on this dataset using hyperas or hyperopt (if you're brave)
- Practice hyperparameter tuning other datasets that we have looked at. How high can you get MNIST? Above 99%?
- Study for the Sprint Challenge
 - Can you implement both perceptron and MLP models from scratch with forward and backpropagation?
 - Can you implement both perceptron and MLP models in keras and tune their hyperparameters with cross validation?